{deps, [
    %% minimized riak framework
    {riak_core, {git, "https://github.com/AntidoteDB/riak_core", {tag, "v6"}}}

    %% riak framework, not tested
    %%{riak_core, "3.1.1", {pkg,riak_core_ng}},
]}.

{relx, [{release, {simple_kv, "1.0.0"}, [simple_kv]},
    {dev_mode, false},

    % application environment
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},

    {overlay, [
        % copy nested configuration file(s)
        {copy, "config/network.config", "releases/{{release_version}}/network.config"}
    ]},

    % create start script with additional features
    {extended_start_script, true}
]}.

